@using Gov.GTB.FirmaTalepTakip.Web.Helpers
@using Gov.GTB.FirmaTalepTakip.Web.Infrastructure.Concrete;
@model Gov.GTB.FirmaTalepTakip.Model.ViewModel.FirmaViewModel
@{
    ViewBag.Title = "Firma " + ((@Model.IsDisabled) ? "Düzenle" : "Kayıt");
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@{
    var bolgeKodlari = new List<SelectListItem> { };
    if (Model.GumrukKodlari != null)
    {
        Model.GumrukKodlari.ToList().ForEach(g => bolgeKodlari.Add(
            new SelectListItem()
            {
                Text = g.Adi,
                Value = g.BolgeKodu
            }));
    }
}

@using (Html.BeginForm("Duzenle", "Firma", FormMethod.Post))
{
    @Html.Hidden("FirmaId", Model.FirmaId)
    @Html.Hidden("IsDisabled", Model.IsDisabled)
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group @FirmaHtmlHelper.ValidationClass("VergiNo", ViewData.ModelState)">
                        <label>Vergi No </label>
                        @if (!Model.IsDisabled)
                        {
                            @Html.TextBoxFor(m => m.VergiNo, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.VergiNo, "", new { @class = "help-block" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.VergiNo, null, new { @class = "form-control", @readonly = true })
                        }
                    </div>
                    <div class="form-group @FirmaHtmlHelper.ValidationClass("Adi", ViewData.ModelState)">
                        <label>Adı </label>
                        @if (!Model.IsDisabled)
                        {
                            @Html.TextBoxFor(m => m.Adi, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Adi, "", new { @class = "help-block" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Adi, null, new { @class = "form-control", @readonly = true })
                        }
                    </div>
                    <div class="form-group @FirmaHtmlHelper.ValidationClass("BolgeKodu", ViewData.ModelState)">
                        <label>Bölge Kodu </label>
                        @Html.DropDownListFor(m => m.BolgeKodu, bolgeKodlari, Resources.BolgeKoduSelectInfoMsg, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BolgeKodu, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="box-footer">
                    <a href="Liste" class="btn btn-danger">İptal</a>
                    <button type="submit" class="btn btn-primary pull-right">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
}