@using Gov.GTB.FirmaTalepTakip.Web.Infrastructure.Concrete;
@model Gov.GTB.FirmaTalepTakip.Model.ViewModel.FirmaViewModel
@{
    ViewBag.Title = "Firma " + ((@Model.IsDisabled) ? "Düzenle" : "Kaydet");
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script type="text/javascript">
    $(function () {
        if ($("#IsDisabled").val() == "True") {
            $("input").each(function () {
                $(this).attr("disabled", "disabled");
            });
        }
    });
</script>

@{
    var bolgeKodlari = new List<SelectListItem> { };
    if (Model.GumrukKodlari != null)
    {
        Model.GumrukKodlari.ToList().ForEach(g => bolgeKodlari.Add(
            new SelectListItem()
            {
                Text = g.Adi,
                Value = g.BolgeKodu
            }));
    }
}

@using (Html.BeginForm("Duzenle", "Firma", FormMethod.Post))
{
    @Html.Hidden("FirmaId", Model.FirmaId)
    @Html.Hidden("IsDisabled", Model.IsDisabled)
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        switch (property.PropertyName)
                        {
                            case "FirmaId":
                            case "GumrukKodlari":
                            case "IsDisabled":
                                // do nothing
                                break;
                            case "BolgeKodu":
                                <div class="form-group @FirmaHtmlHelper.ValidationClass(property.PropertyName, ViewData.ModelState)">
                                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                                    @Html.DropDownListFor(model => model.BolgeKodu, bolgeKodlari, "Bölge Kodu Seçiniz...", new { @class = "form-control" })
                                    @Html.ValidationMessage(property.PropertyName, "", new { @class = "help-block" })
                                </div>
                                break;
                            default:
                                <div class="form-group @FirmaHtmlHelper.ValidationClass(property.PropertyName, ViewData.ModelState)">
                                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                                    @Html.ValidationMessage(property.PropertyName, "", new { @class = "help-block" })
                                </div>
                                break;
                        }
                    }

                </div>
                <div class="box-footer">
                    <a href="Liste" class="btn btn-danger">İptal</a>
                    <button type="submit" class="btn btn-primary pull-right">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
}