@using Gov.GTB.FirmaTalepTakip.Model.Enums
@using Gov.GTB.FirmaTalepTakip.Model.ViewModel
@using Gov.GTB.FirmaTalepTakip.Web.Helpers
@using Gov.GTB.FirmaTalepTakip.Web.Infrastructure.Concrete
@model IEnumerable<Gov.GTB.FirmaTalepTakip.Model.ViewModel.TalepDetayFirmaViewModel>
@{
    ViewBag.Title = "Talep Listesi";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@{
    var kullaniciRol = (KullaniciYetkileri)Session["CurrentUser_Auths"];
    var aramaKriterListesi = new List<SelectListItem>
{
new SelectListItem {Value = "1", Text = Resources.FirmaVergiNo},
new SelectListItem {Value = "2", Text = Resources.TalepReferansNo},
new SelectListItem {Value = "3", Text = Resources.BolgeIrtibatPersoneli}
};
}

<script type="text/javascript">
    $(function () {
        SetPlaceholder();
        $("#aramaKriteri").change(function () {
            SetPlaceholder();
        });
    });

    function SetPlaceholder() {
        var aramaKriteriId = $("#aramaKriteri").val();
        var aramaDegeri = $("#aramaKriterDegeri");
        if (aramaKriteriId === "1") {
            aramaDegeri.attr("placeholder", "Firma Vergi No Giriniz");
        }
        else if (aramaKriteriId === "2") {
            aramaDegeri.attr("placeholder", "Talep Referans No Giriniz");
        }
        else if (aramaKriteriId === "3") {
            aramaDegeri.attr("placeholder", "Bölge İrtibat Personeli Giriniz");
        }
    }

</script>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header">
                @using (Html.BeginForm("Ara", "Talep", FormMethod.Get))
                {
                    <div style="width: 480px">
                        <table class="table table-responsive table-condensed table-striped">
                            <tr>
                                <td>
                                    @Html.DropDownList("aramaKriteri", aramaKriterListesi, new { @class = "form-control" })
                                </td>
                                <td>
                                    <div class="@FirmaHtmlHelper.ValidationClass("aramaKriterDegeri", ViewData.ModelState)">
                                        <input type="text" id="aramaKriterDegeri" name="aramaKriterDegeri" class="form-control" placeholder="Firma Vergi No Giriniz...">
                                    </div>
                                </td>
                                <td>
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                @Html.ValidationMessage("aramaKriterDegeri", "", new { @class = "text-danger" })
            </div>
            <div class="box-body">
                <table id="tableFirmaListesi" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>SIRA NO</th>
                            <th>TALEP REFERANS NO</th>
                            @if (kullaniciRol.KullaniciRolEnum != RolEnum.FIP)
                            {
                                <th>FİRMA ADI</th>
                                <th>FİRMA İRTİBAT PERSONELİ</th>
                            }
                            <th>TALEP KONUSU</th>
                            <th>TARİH</th>
                            @if (kullaniciRol.KullaniciRolEnum == RolEnum.FIP)
                            {
                                <th>TALEP YAPAN KİŞİ</th>
                            }
                            <th>CEVAPLANMA DURUMU</th>
                            @if (kullaniciRol.KullaniciRolEnum != RolEnum.BM && kullaniciRol.KullaniciRolEnum != RolEnum.GGM)
                            {
                                <th style="width: 15%"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SiraNo</td>
                                <td>@item.TalepReferansNo</td>
                                @if (kullaniciRol.KullaniciRolEnum != RolEnum.FIP)
                                {
                                    <td>@item.FirmaAdi</td>
                                    <td>@item.IrtibatPersoneli</td>
                                }
                                <td>@item.RefTalepKonu.TKonu</td>
                                <td>@item.TalepTarih</td>
                                @if (kullaniciRol.KullaniciRolEnum == RolEnum.FIP)
                                {
                                    <td>@item.FirmaKullanici.Adi @item.FirmaKullanici.Soyadi</td>
                                }
                                <td>@(item.CevapDurum ? Html.Raw("CEVAPLANDI") : Html.Raw("CEVAPLANMADI"))</td>
                                @if (kullaniciRol.KullaniciRolEnum != RolEnum.BM && kullaniciRol.KullaniciRolEnum != RolEnum.GGM)
                                {
                                    <td>
                                        @if (item.CevapDurum != true)
                                        {
                                            if (kullaniciRol.KullaniciRolEnum == RolEnum.FIP)
                                            {
                                                @Html.ActionLink("Güncelle", "Duzenle", new { item.Id }, new { @class = "btn btn-primary btn-xs" })
                                            }
                                            else if (kullaniciRol.KullaniciRolEnum == RolEnum.BIP)
                                            {
                                                @Html.ActionLink("Cevapla", "Cevapla", new { item.Id }, new { @class = "btn btn-primary btn-xs" })
                                            }
                                        }
                                        else
                                        {
                                            if (kullaniciRol.KullaniciRolEnum == RolEnum.FIP)
                                            {
                                                @Html.ActionLink("Görüntüle", "Cevap", new { item.Id }, new { @class = "btn btn-info btn-xs" })
                                            }
                                            else if (kullaniciRol.KullaniciRolEnum == RolEnum.BIP)
                                            {
                                                @Html.ActionLink("Güncelle", "Cevapla", new { item.Id }, new { @class = "btn btn-warning btn-xs" })
                                                @Html.ActionLink("Görüntüle", "Cevap", new { item.Id }, new { @class = "btn btn-info btn-xs" })
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
